EMULATED=true

# 코드 푸시 서버 인증으로 GITHUB을 이용한다. 
# GITHUB에서 만든 조직의 OAUTH APP 정보
GITHUB_CLIENT_ID='${USER_GITHUB_CLIENT_ID}'
GITHUB_CLIENT_SECRET='${USER_GITHUB_CLIENT_SECRET}'

# 코드푸시 서버 URL
# 로컬에 설치했으므로 이렇게 세팅했고, 라이브라면 도메인을 지정하자 
# 라이브 예시: https://codepush.mysite.com
SERVER_URL=http://localhost:3000
 
# 스토리지를 지정하려면 여기를 세팅하자.
AWS_REGION='ap-northeast-2'
AWS_BUCKET_NAME=s3-codepush

# AWS의 S3에 저장하려면 IS_AWS_S3 = true를 지정하자.
#IS_AWS_S3=true
#AWS_ACCESS_KEY_ID='${AWS_ACCESS_KEY_ID}'
#AWS_SECRET_ACCESS='${AWS_SECRET_ACCESS}'

# 로컬의 MinIO에 저장하려면 여기에 정보를 세팅하고 주석 해지하자.
#IS_AWS_S3=false
#AWS_ACCESS_KEY_ID=${USER_AWS_ACCESS_KEY_ID}
#AWS_SECRET_ACCESS=${USER_AWS_SECRET_ACCESS}
#AWS_ENDPOINT=${USER_AWS_ENDPOINT}

# 로컬의 SeaweekFS에 저장하려면 여기에 정보를 세팅하고 주석 해지하자. 
IS_AWS_S3=false
AWS_ACCESS_KEY_ID=${USER_AWS_ACCESS_KEY_ID}
AWS_SECRET_ACCESS=${USER_AWS_SECRET_ACCESS}
AWS_ENDPOINT=${USER_AWS_ENDPOINT}

# REDIS
REDIS_HOST=127.0.0.1 # 무조건 TLS방식으로 동작하기 때문에 이 정보로 접속하지 않음. 
REDIS_PORT=6379
REDIS_KEY=passw0rd     # Redis authentication key
CUSTOM_REDIS_TLS_CRT=./redis-key/client.crt
CUSTOM_REDIS_TLS_KEY=./redis-key/client.key
CUSTOM_REDIS_TLS_CA=./redis-key/ca.crt
CUSTOM_REDIS_TLS_SERVERNAME=redis-server

LOGGING=true
